<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Author</title>
  </head>
  <body>
    <H1>{{ author }}'s Profile Page</H1>
    <br>
    <h3>{{ author }}'s recipes:</h3>
    <ul>
      {% for recipe in recipes %}
      <li><a href="/recipe/{{recipe.id}}">{{ recipe.title }}</a></li>

      {% endfor %}
    </ul>
    <br>
    <h3>{{ author }}'s Favorite Recipes:</h3>
    <div>
      {% for favorite in selected_author_favorites %}
      <li><a href="/recipe/{{favorite.id}}">{{ favorite }}</a></li>
      {% endfor %}
    </div>
  </body>
</html>
