<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Recipe</title>
  </head>
  <body>
    <ul>
      <li>
        <b>{{ current_recipe.title }}, by </b>
        <a href="/author/{{ current_recipe.author.id }}">{{ current_recipe.author }}</a>
      </li>
      <ul>
        <li>{{ current_recipe.description }}</li>
        <li>Time to cook: {{ current_recipe.time }}</li>
        <li>Preparations: {{ current_recipe.instructions }}</li>
      </ul>
      {% if current_user.is_authenticated %}
        {% if unfavorite %}
          <a href = "/recipe/remove_favorite/{{ r_id }}">
            <button>
              Remove Favorite
            </button>
          </a>
        {% endif %}
        {% if favorite %}
          <a href = "/recipe/favorite/{{ r_id }}">
            <button>
              Favorite
            </button>
          </a>
        {% endif %}
      {% endif %}
      <br>
      {% if match %}
      <a href = "/recipe/{{ r_id }}/edit">
        <button>
          Edit Recipe
        </button>
      </a>
      {% endif %}
      <div>
    </ul>
  </body>
</html>
